@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}


@layer base {
  img {
    @apply w-full
  }

  .section {
    @apply container mx-auto py-8 px-6 
  }
  .animate-slide:hover {
    animation-play-state: paused;
  }
}

